{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Меня зовут Мария и я - начинающий python разработчик...
    именно поэтому этот сайт такой простой :)
  </p>
  <p>
    Я живу в Санкт-Петербурге с 2019 и просто влюблена в этот город
    <br>
    Раньше я работала в HR поэтому моё резюме на hh.ru выглядит
    <a class="link"
       href="https://spb.hh.ru/resume/2176ec9aff060292830039ed1f766571794251">так</a>
    <br>
    Но теперь это в прошлом и в сфере моих интересов:
    <br>
    <ul>
      <li>Программирование</li>
      <li>Чтение книг (про программирование)</li>
      <li>Прогулки по городу (чтобы думать о программировании)</li>
      <li>Печь вкусняшки (чтобы были силы для программирования)</li>
    </li>
  </ul>
</p>
<p>
  <a class="link"
     href="https://spb.hh.ru/resume/2176ec9aff060292830039ed1f766571794251">Вот здесь</a>
  можно будет увидеть мои крутые проекты...когда-нибудь. А пока что там результаты моей упорной учебы.
</p>
{% endblock %}
