{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Честно признаться данный проект оказался для меня совсем непростым.
        <br>
        Но мне очень помогло следующее:
        <ol>
          <li>Неистребимый оптимизм</li>
          <li>Google</li>
          <li>Помощь сокурсников в Slack</li>
          <li>Упорство и экспериментаторство</li>
        </li>
      </ol>
    </p>
    <p>
      Самой сложной частью для меня оказалась работа с шаблонами и представлениями.
      <br>
      Поэтоу всё своей свободное от спринта время я посвящу самообразованию в этом направлении ^_^
    </p>
  </article>
</div>
{% endblock %}
